<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<head th:replace="layout/layoutUser :: header"></head>

<div class="container py-4">
	<div class="card bg-light">
		<div class="card-header"
			th:text="'You have contract Service: '+'&nbsp;'+${titul}"
			align="center"></div>
		<div class="card-body">

			<div align="center">
				<a><img th:src="@{/images/promo-itv2.png}" alt="Spring logo"
					width="560" height="250" /></a>
			</div>

			<ul>
				<li class="list-group-item"
					th:text="'FACTURE:' + '&nbsp;'+ '&nbsp;'+ '&nbsp;'+ ${msg}"></li>
				<li class="list-group-item"
					th:text="'CLIENT:'+'&nbsp;'+'&nbsp;'+'&nbsp;'+${car.client.surname}+'&nbsp;'+'&nbsp;'+${car.client.lastname}"></li>
				<li class="list-group-item"
					th:text="'CAR:'+'&nbsp;'+'&nbsp;'+'&nbsp;'+${car.model}+'&nbsp;'+'&nbsp;'+'mtrl:'+'&nbsp;'+'&nbsp;'+${car.matriculation}"></li>
				<li class="list-group-item"
					th:text="'we  take care of passing the itv of your CAR:'+'&nbsp;'+'&nbsp;'+'&nbsp;'+${car.model}+'&nbsp;'+'&nbsp;'+'Matriculationl:'+'&nbsp;'+'&nbsp;'+${car.matriculation}+'&nbsp;'+'in the YEAR:'+'&nbsp;'+${itv.year}"></li>

			</ul>

			<br />

			<div>
				<p th:text="'TOTAL: '+'&nbsp;'+${itv.price}+'&euro;'"></p>
			</div>
			<div>
				<a class="btn btn-success btn-xs"
					th:href="@{'/facture/formBack/' + ${msg}}"
					th:text="'Add Services'"></a>
			</div>
			<br />
			<div>
				<a class="btn btn-success btn-xs"
					th:href="@{'/seeClient/' + ${car.client.id}}"
					th:text="'Back Client'"></a>
			</div>
		</div>
	</div>
</div>
<footer th:replace="/layout/layout :: footer"></footer>
</body>
</html>