<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<head th:replace="layout/layoutUser :: header"></head>

<div class="container py-4">
	<div class="card bg-light">
		<div class="card-header"
			th:text="'You have contract Service: '+'&nbsp;'+${titul}"
			align="center"></div>
		<div class="card-body">


			<ul>
				<li class="list-group-item" th:text="'FACTURE:' + '&nbsp;'+ ${msg}"></li>
				<li class="list-group-item"
					th:text="'CLIENT:'+'&nbsp;'+${car.client.surname}+'&nbsp;'+${car.client.lastname}"></li>
				<li class="list-group-item"
					th:text="'CAR:'+'&nbsp;'+${car.model}+'&nbsp;'+'&nbsp;'+${car.matriculation}"></li>

			</ul>


			<table class="table table-striped table bordered">
				<thead class="thead-inverse">
					<tr th:each="revi: ${revision.listPlan}">
						<td th:text="'Revision included for:'+'&nbsp;'+${revi.name}"></td>
						<td
							th:text="'With a discount of:'+'&nbsp;'+${revi.porcentaje}+'&euro;'+'&nbsp;'+'Percentage'"></td>
					</tr>
					<tr>
						<td><p>You have selected these products for maintenance
								of your car:</p></td>
					</tr>
				</thead>
			</table>
			<table class="table table-striped table bordered">
				<thead class="thead-inverse">

					<tr>
						<th>Product</th>
						<th>Description</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="revi: ${revision.listProducts}">

						<td th:text="${revi.name}"></td>
						<td th:text="${revi.description}"></td>

					</tr>
				</tbody>

			</table>
			<div></div>
			<div>
				<a class="btn btn-success btn-xs"
					th:href="@{'/facture/formBack/' + ${msg}}"
					th:text="'Add Services'"></a>
			</div>

			<br />
			<div>
				<a class="btn btn-success btn-xs"
					th:href="@{'/seeClient/' + ${car.client.id}}"
					th:text="'Back Client'"></a>
			</div>

		</div>
	</div>
</div>
<footer th:replace="/layout/layout :: footer"></footer>
</body>
</html>