<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-ligth">
			<div class="card-header" th:text="${titul}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a th:href="@{/formClient}" class="btn btn-primary btn-xs">Create
						Client</a>
				</h4>
				<table class="table table-striped table bordered">
					<thead class="thead-inverse">
						<tr>
							<th>id</th>
							<th>Surname</th>
							<th>LastName</th>
							<th>Email</th>
							<th>Telephone</th>
							<th>Adress</th>
							<th>Country</th>
							<th>City</th>
							<th>Cp</th>
							<th>Date</th>
							<th>Create Facture</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tboyd>
					<tr th:each="client: ${clients}">
						<td><a class="btn btn-primary btn-xs"
							th:href="@{/seeClient/}+${client.id}" th:text="${client.id}"></a></td>
						<td th:text="${client.surname}"></td>
						<td th:text="${client.lastname}"></td>
						<td th:text="${client.email}"></td>
						<td th:text="${client.phone}"></td>
						<td th:text="${client.address}"></td>
						<td th:text="${client.country}"></td>
						<td th:text="${client.city}"></td>
						<td th:text="${client.cp}"></td>
						<td th:text="${client.createAt}"></td>
						<td><a class="btn btn-success btn-xs"
							th:href="@{'/facture/form/' + ${client.id}}" th:text="'Facture'"></a></td>
						<td><a class="btn btn-primary btn-xs"
							th:href="@{/formClient/} + ${client.id}" th:text="'edit'"></a></td>
						<td><a class="btn btn-primary btn-xs"
							th:href="@{/delete/} + ${client.id}" th:text="'delete'"
							onclick="return confirm('Do you want delete this?');"></a></td>
					</tr>
					</tboyd>
				</table>
				<nav th:replace="pagination-nav :: paginator"></nav>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>