<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layoutUser :: head"></head>
<body>
	<header th:replace="layout/layoutUser :: header"></header>



	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titul}" align="center"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{'/seeClient/'+ ${car.client.id}}"
						class="btn btn-success btn-xs">&laquo;Back Client</a>
				</h4>


				<ul class="list-group">
					<li class="list-group-item"
						th:text="'CLIENT:'+ '&nbsp;' + ${car.client.surname} + ' ' + '&nbsp;' + ${car.client.lastname}"></li>
					<li class="list-group-item"
						th:text="'CAR:'+ '&nbsp;' + '&nbsp;' +'&nbsp;' + ${car.model}"></li>

				</ul>

				<div th:if="${#lists.isEmpty(car.listFactures)}"
					class="alert alert-info my-4"
					th:text="'There are not Factures assigned for the Client: ' + ${car.client.surname} + ' ' + ${car.client.lastname}"></div>
				<table th:if="${not #lists.isEmpty(car.listFactures)}"
					class="table table-bordered table-striped my-4">
					<thead class="thead-inverse">
						<tr>
							<th>Folio</th>
							<th>Date</th>
							<th>Total</th>
							<th>Facture</th>
							<th>Delete</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="carListFactures: ${car.listFactures}">
							<td th:text="${carListFactures.id}"></td>
							<td th:text="${carListFactures.createAt}"></td>
							<td th:text="${carListFactures.total}"></td>
							<td><a class="btn btn-success btn-xs"
								th:href="@{'/facture/seeFacture/'+${carListFactures.id}}"
								th:text="'Details'"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{'/facture/deleteFacture/'+${carListFactures.id}}"
								th:text="'X'"></a></td>
						
						</tr>
					</tbody>
				</table>



			</div>
		</div>
	</div>
	<footer th:replace="/layout/layout :: footer"></footer>
</body>
</html>



