<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>



	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titul}" align="center"></div>


			<div class="card-body">


				<ul class="list-group">
					<li class="list-group-item"
						th:text="'CLIENT:'+ '&nbsp;' + ${car.client.surname} + ' ' + '&nbsp;' + ${car.client.lastname}"></li>
					<li class="list-group-item"
						th:text="'CAR:'+ '&nbsp;' + '&nbsp;' +'&nbsp;' + ${car.model}"></li>

				</ul>
				
					<div th:if="${#lists.isEmpty(car.listFactures)}"
					class="alert alert-info my-4"
					th:text="'There are not Factures assigned for the Client: ' + ${client.surname} + ' ' + ${client.lastname}"></div>
				<table th:if="${not #lists.isEmpty(car.listFactures)}"
					class="table table-bordered table-striped my-4">
					<thead class="thead-inverse">
						<tr>
							<th>Folio</th>
							<th>Date</th>
							<th>Total</th>
							<th>see Facture</th>
							
						</tr>
					</thead>

					<tbody>
						<tr th:each="carListFactures: ${car.listFactures}">
							<td th:text="${carListFactures.id}"></td>
							<td th:text="${carListFactures.createAt}"></td>
							<td th:text="${carListFactures.total}"></td>
							<td><a class="btn btn-success btn-xs"
								th:href="@{'/facture/seeFacture/'+${carListFactures.id}}"
								th:text="'Details'"></a></td>

						</tr>
					</tbody>
				</table>
				
				
				
			</div>
		</div>
	</div>
	<footer th:replace="/layout/layout :: footer"></footer>
</body>
</html>



